#drum-machine {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drum-pads {
    margin: 0 auto;
}

.drum-pad {
    max-width: 80px;
    min-width: 80px;
    height: 80px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f2f2f2a6;
    box-shadow: 3px 3px 5px black;
    font-size: 2rem;
    display: flex;
}

.drum-pad:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.drum-pad p {
    margin: auto;
}

.controls-container {
    max-width: 600px;
    border-radius: 10px;
    background-color: rgba(2, 2, 35, 0.218);
    padding: 10px;
    color: white;
}

.controls-container p {
    margin: auto;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

.style {
    margin: auto;
    min-height: 76px;
    min-width: 163px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.switch-container {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch-input {
    display: none;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.switch-input:checked + .switch-slider {
    background-color: #18588b;
}

.switch-input:checked + .switch-slider:before {
    transform: translateX(26px);
}

.display-well {
    background-color: #ccc;
    border-radius: 5px;
    margin: auto;
}

#display {
    padding: 5px 10px;
    color: black;
}

.volume-slider {
    padding: 5px;
}

.slider:hover {
    cursor: pointer;
}
